<!doctype html>
<html>
        <head>
                <title>Add a Squirrel Sighting Below</title>
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <body>
		<style>body{padding-left:20px; padding-right:20px;}</style>
		<p>
		<br>
		<h4><strong>Please fill out the information below:</strong><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602970966019&di=988aea610b97b8e65f4c608c873d2362&imgtype=0&src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F16%2F09%2F25%2F2157e7cdd63ff2c.jpg" style="width:100px" class="rounded" alt="big boat" ></h4>
		<hr>
		<br>
                <form method='POST'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
			<h3><strong>Thanks for sharing!</strong><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=801078426,1246447842&fm=26&gp=0.jpg" style="width:80px" class="rounded" alt="big boat" ></h3>
		<br>
		<h3><button type="submit" value="Submit">Add</button></h3>
              
                </form>
		<br>
        </body>
</html>
