<!doctype html>
<html lang='en'>

        <head>
                <title>List of Squirrel Sightings</title>
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<!--new Bootstrap JavaScript file -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
		
<style>
      body {
        padding-left: 10px; padding-right: 10px;
      }
      h3 {color:green;}
</style>
		
		
		<br>
		<p>
		<ul>
		<h3><li><a href="add/" class="badge badge-primary">Add</a> Click here to add a new squirrel sighting!</li></h3>
		<h3><li><a href="stats/" class="badge badge-primary">Stats</a> Click here to see the statistics of the squirrel sighting!</li></h3>
		<div>
			<center><p> <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602970913442&di=39a7755b7008b85ba598d55b0bb30fee&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fdesign%2F01%2F29%2F90%2F85%2F591aa8828da2d.png" style="width:100px" class="rounded" alt="big boat"></p></center>
                <table class="table table-hover">
		<div class="alert alert-success text-center" style="width: 1200px">
				<h2><strong>Existing Squirrel Sightings Records </strong></h2>
		</div>
		<thead class = "bg-light text-dark">
                                <tr>
                                        <th scope = "col">Unique Squirrel ID</th>
                                        <th scope = "col">Date</th>
                                        <th scope = "col">Shift</th>
					<th scope = "col">See the details</th>
					<th scope = "col">Update the info</th>
                                </tr>
                </thead>

                <tbody>
                {% for sight in mylist_ %}
                                <tr>
                                        <td>{{ sight.Unique_Squirrel_ID }}</td>
                                        <td>{{ sight.Date }}</td>
                                        <td>{{ sight.Shift }}</td>
					<td><a href="{{sight.Unique_Squirrel_ID}}/details">Click to see details</a>
					<td><a href="{{sight.Unique_Squirrel_ID}}/">Click to update the info</a>
                                </tr>
                {% endfor %}
                </tbody>
                </table>
		</div>
		<br>
		<br>
        </body>
</html>
