<!doctype html>
<html>
        <head>
                <title>Update the Information of Squirrel Sightings</title>
                <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <body>
			<style>body{padding-left:20px; padding-right:20px;}</style>
                
			<h4><strong>Update the squirrel sightings information below:</strong></h4>
                <hr>
                <br>
                <form method='POST'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
			<img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1602970913442&amp;di=39a7755b7008b85ba598d55b0bb30fee&amp;imgtype=0&amp;src=http%3A%2F%2Fpic.90sjimg.com%2Fdesign%2F01%2F29%2F90%2F85%2F591aa8828da2d.png" style="width:100px" class="rounded" alt="big boat">
                        <h4><strong>Thanks for sharing!<h4></strong>
                        <button type="submit" value="Submit">Update</button>
                        <br>
                </form>
                <br>
                <a href="{% url 'sightings:list_all'%}">Return to the squirrel list page</a>
        </body>
</html>
