<!doctype html>
<html>
        <head>
                <title>Update the Information of Squirrel Sightings</title>
                <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <body>
			<style>body{padding-left:20px; padding-right:20px;}</style>
                
                <p>Update the squirrel sightings information below:</p>
                <hr>
                <br>
                <form method='POST'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <p>Thanks for info! ></p>
                        <input type="submit" name="submit">
                        <br>
                </form>
                <br>
                <a href="{% url 'sightings:list_all'%}">Return to the squirrel list page</a>
        </body>
</html>
