<!doctype html>
<html>
        <head>
                <title>Update the Information of Squirrel Sightings</title>
                <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <body>
			<style>body{padding-left:20px; padding-right:20px;}</style>
                
			<h4><strong>Update the squirrel sightings information below:</strong></h4>
                <hr>
                <br>
                <form method='POST'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <h5><strong>Thanks for sharing!<h5></strong>
                        <button type="submit" value="Submit">Update</button>
                        <br>
                </form>
                <br>
                <a href="{% url 'sightings:list_all'%}">Return to the squirrel list page</a>
        </body>
</html>
